body {
  height: 100vh;
  overflow-y: none;
}

.mdc-typography {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.mdc-layout-grid {
  padding: 10px;
}

.mdc-tab {
  font-size: 12px;
}

.columnSelect {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

#footer {
  /* position: fixed; */
  bottom: 0;
}

.mdc-tab-bar {
  background-color: rgb(245, 245, 245);
  font-size: 12px;
  height: 39px;
  width: 100%;
}

.measure:hover {
  background-color: rgba(0, 255, 0, 0.1);
}

.dimension:hover {
  background-color: rgba(0, 0, 255, 0.1);
}

#contact {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.mdc-tab__indicator {
  background-color: orange;
}

.mdc-card__actions {
  padding-left: 10px;
}

.mdc-data-table + .mdc-data-table {
  margin-top: 16px;
}

.mdc-data-table + .mdc-data-table {
  margin-top: 16px;
}

.mdc-checkbox__native-control {
  background-color: orange;
}

:root {
  --mdc-data-table-light-theme-bg-color: #fff;
  --mdc-data-table-light-theme-border-color: #e0e0e0;
  --mdc-data-table-light-theme-row-hover: rgb(104, 73, 73);
  --mdc-data-table-light-theme-row-selected: #f5f5f5;
}
.mdc-data-table {
  display: none;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87) !important;
  color: var(
    --mdc-theme-text-primary-on-background,
    rgba(0, 0, 0, 0.87)
  ) !important;
  /* -webkit-box-orient: vertical; */
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
}
.mdc-data-table,
.mdc-data-table__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  /* -webkit-box-direction: normal; */
}
.mdc-data-table__header {
  /* -webkit-box-align: center; */
  -ms-flex-align: center;
  align-items: center;
  /* -webkit-box-pack: justify; */
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 64px;
  /* -webkit-box-orient: horizontal; */
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  padding: 0 14px 0 24px;
  /* -webkit-box-flex: 0; */
  -ms-flex: none;
  flex: none;
}
.mdc-data-table__header-title {
  font-weight: 400;
  font-size: 20px;
  display: inline-block;
  margin: 0;
}
.mdc-data-table__header-actions {
  color: rgba(0, 0, 0, 0.54) !important;
  color: var(
    --mdc-theme-text-secondary-on-background,
    rgba(0, 0, 0, 0.54)
  ) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* -webkit-box-align: center; */
  -ms-flex-align: center;
  align-items: center;
  /* -webkit-box-orient: horizontal; */
  /* -webkit-box-direction: reverse; */
  -ms-flex-flow: row-reverse nowrap;
  flex-flow: row-reverse nowrap;
}
.mdc-data-table__header-actions :nth-last-child(n + 2) {
  margin-left: 24px;
}
.mdc-data-table__content {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.mdc-data-table__content tr:first-child,
.mdc-data-table__content tr:nth-last-child(n + 2) {
  border-bottom: 1px solid #e0e0e0;
}
.mdc-data-table__content tr.mdc-data-table--selected {
  background-color: #f5f5f5;
}
.mdc-data-table__content td,
.mdc-data-table__content th {
  text-align: left;
  padding: 12px 24px;
  vertical-align: middle;
}
.mdc-data-table__content td.mdc-data-table--numeric,
.mdc-data-table__content th.mdc-data-table--numeric {
  text-align: right;
}
.mdc-data-table__content th {
  font-size: 13px;
  line-height: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgba(0, 0, 0, 0.54) !important;
  color: var(
    --mdc-theme-text-secondary-on-background,
    rgba(0, 0, 0, 0.54)
  ) !important;
}
.mdc-data-table__content th.mdc-data-table--sortable {
  cursor: pointer;
}
.mdc-data-table__content th.mdc-data-table--sortable.mdc-data-table--sort-asc,
.mdc-data-table__content th.mdc-data-table--sortable.mdc-data-table--sort-desc {
  color: rgba(0, 0, 0, 0.87) !important;
  color: var(
    --mdc-theme-text-primary-on-background,
    rgba(0, 0, 0, 0.87)
  ) !important;
}
.mdc-data-table__content
  th.mdc-data-table--sortable.mdc-data-table--sort-asc:before,
.mdc-data-table__content
  th.mdc-data-table--sortable.mdc-data-table--sort-desc:before {
  font-family: Material Icons;
  font-size: 16px;
  vertical-align: text-bottom;
  line-height: 16px;
  margin-right: 8px;
}
.mdc-data-table__content
  th.mdc-data-table--sortable.mdc-data-table--sort-asc:before {
  content: "arrow_downward";
}
.mdc-data-table__content
  th.mdc-data-table--sortable.mdc-data-table--sort-desc:before {
  content: "arrow_upward";
}
.mdc-data-table__content td {
  font-size: 14px;
}
.mdc-data-table__content .measure tbody tr:hover {
  background-color: rgb(83, 11, 11);
}

.mdc-data-table__footer {
  color: rgba(0, 0, 0, 0.54) !important;
  color: var(
    --mdc-theme-text-secondary-on-background,
    rgba(0, 0, 0, 0.54)
  ) !important;
  border-top: 1px solid #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  height: 56px;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  padding: 0 14px 0 0;
  /* -webkit-box-flex: 0; */
  -ms-flex: none;
  flex: none;
  font-size: 13px;
}
.mdc-data-table__footer,
.mdc-data-table__footer .mdc-data-table__per-page {
  /* -webkit-box-align: center; */
  align-items: center;
  /* -webkit-box-orient: horizontal; */
  /* -webkit-box-direction: normal; */
  /* -webkit-box-pack: end; */
  /* -ms-flex-pack: end; */
  justify-content: flex-end;
}
.mdc-data-table__footer .mdc-data-table__per-page {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* -ms-flex-flow: row nowrap; */
  flex-flow: row nowrap;
  /* -ms-flex-align: center; */
  width: 64px;
  background-repeat: no-repeat;
  background-position: right 7px center;
  text-align: right;
  cursor: pointer;
}
.mdc-data-table__footer .mdc-data-table__per-page:after {
  font-family: Material Icons;
  font-size: 20px;
  content: "arrow_drop_down";
  margin: 0 2px;
}
.mdc-data-table__footer .mdc-data-table__results {
  margin-left: 32px;
}
.mdc-data-table__footer .mdc-data-table__prev {
  margin-left: 32px;
  cursor: pointer;
}
.mdc-data-table__footer .mdc-data-table__next {
  margin-left: 24px;
  cursor: pointer;
}
.mdc-data-table [dir="rtl"] td,
.mdc-data-table [dir="rtl"] th,
.mdc-data-table[dir="rtl"] td,
.mdc-data-table[dir="rtl"] th,
.mdc-data-table__content[dir="rtl"] td,
.mdc-data-table__content[dir="rtl"] th {
  text-align: right;
}
.mdc-data-table [dir="rtl"] td.mdc-data-table--numeric,
.mdc-data-table [dir="rtl"] th.mdc-data-table--numeric,
.mdc-data-table[dir="rtl"] td.mdc-data-table--numeric,
.mdc-data-table[dir="rtl"] th.mdc-data-table--numeric,
.mdc-data-table__content[dir="rtl"] td.mdc-data-table--numeric,
.mdc-data-table__content[dir="rtl"] th.mdc-data-table--numeric {
  text-align: left;
}
.mdc-data-table
  [dir="rtl"]
  .mdc-data-table--sortable.mdc-data-table--sort-asc:before,
.mdc-data-table
  [dir="rtl"]
  .mdc-data-table--sortable.mdc-data-table--sort-desc:before,
.mdc-data-table[dir="rtl"]
  .mdc-data-table--sortable.mdc-data-table--sort-asc:before,
.mdc-data-table[dir="rtl"]
  .mdc-data-table--sortable.mdc-data-table--sort-desc:before,
.mdc-data-table__content[dir="rtl"]
  .mdc-data-table--sortable.mdc-data-table--sort-asc:before,
.mdc-data-table__content[dir="rtl"]
  .mdc-data-table--sortable.mdc-data-table--sort-desc:before {
  display: none;
}
.mdc-data-table
  [dir="rtl"]
  .mdc-data-table--sortable.mdc-data-table--sort-asc:after,
.mdc-data-table
  [dir="rtl"]
  .mdc-data-table--sortable.mdc-data-table--sort-desc:after,
.mdc-data-table[dir="rtl"]
  .mdc-data-table--sortable.mdc-data-table--sort-asc:after,
.mdc-data-table[dir="rtl"]
  .mdc-data-table--sortable.mdc-data-table--sort-desc:after,
.mdc-data-table__content[dir="rtl"]
  .mdc-data-table--sortable.mdc-data-table--sort-asc:after,
.mdc-data-table__content[dir="rtl"]
  .mdc-data-table--sortable.mdc-data-table--sort-desc:after {
  font-family: Material Icons;
  font-size: 16px;
  vertical-align: text-bottom;
  line-height: 16px;
  margin-left: 8px;
}
.mdc-data-table
  [dir="rtl"]
  .mdc-data-table--sortable.mdc-data-table--sort-asc:after,
.mdc-data-table[dir="rtl"]
  .mdc-data-table--sortable.mdc-data-table--sort-asc:after,
.mdc-data-table__content[dir="rtl"]
  .mdc-data-table--sortable.mdc-data-table--sort-asc:after {
  content: "arrow_downward";
}
.mdc-data-table
  [dir="rtl"]
  .mdc-data-table--sortable.mdc-data-table--sort-desc:after,
.mdc-data-table[dir="rtl"]
  .mdc-data-table--sortable.mdc-data-table--sort-desc:after,
.mdc-data-table__content[dir="rtl"]
  .mdc-data-table--sortable.mdc-data-table--sort-desc:after {
  content: "arrow_upward";
}
